<!DOCTYPE html>
<html>
  <head>
    <title>TestApp01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= link_to 'ダイブサイト一覧', divesites_path %>
        <%= link_to '投稿一覧', posts_path %>
        <%= link_to 'ログイン', new_user_session_path %>
        <%= link_to 'サインアップ', new_user_registration_path %>
    </header>
    <div class="flash_messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
